In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("CovidData.csv",sep=",")
print(df.head())

   USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE   DATE_DIED  INTUBED  PNEUMONIA  \
0      2             1    1             1  03/05/2020       97          1
1      2             1    2             1  03/06/2020       97          1
2      2             1    2             2  09/06/2020        1          2
3      2             1    1             1  12/06/2020       97          2
4      2             1    2             1  21/06/2020       97          2

   AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  \
0   65         2         2  ...       2        2             1              2
1   72        97         2  ...       2        2             1              2
2   55        97         1  ...       2        2             2              2
3   53         2         2  ...       2        2             2              2
4   68        97         1  ...       2        2             1              2

   CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  CLASIFFICATION_FINAL  ICU
0               2        2              2        2                     3   97
1               2        1              1        2                     5   97
2               2        2              2        2                     3    2
3               2        2              2        2                     7   97
4               2        2              2        2                     3   97

[5 rows x 21 columns]

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB
None

In [4]:
print(df.dtypes)

USMER                    int64
MEDICAL_UNIT             int64
SEX                      int64
PATIENT_TYPE             int64
DATE_DIED               object
INTUBED                  int64
PNEUMONIA                int64
AGE                      int64
PREGNANT                 int64
DIABETES                 int64
COPD                     int64
ASTHMA                   int64
INMSUPR                  int64
HIPERTENSION             int64
OTHER_DISEASE            int64
CARDIOVASCULAR           int64
OBESITY                  int64
RENAL_CHRONIC            int64
TOBACCO                  int64
CLASIFFICATION_FINAL     int64
ICU                      int64
dtype: object

In [5]:
print(df.describe())

              USMER  MEDICAL_UNIT           SEX  PATIENT_TYPE       INTUBED  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   1.632194e+00  8.980565e+00  1.499259e+00  1.190765e+00  7.952288e+01
std    4.822084e-01  3.723278e+00  4.999997e-01  3.929041e-01  3.686889e+01
min    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    1.000000e+00  4.000000e+00  1.000000e+00  1.000000e+00  9.700000e+01
50%    2.000000e+00  1.200000e+01  1.000000e+00  1.000000e+00  9.700000e+01
75%    2.000000e+00  1.200000e+01  2.000000e+00  1.000000e+00  9.700000e+01
max    2.000000e+00  1.300000e+01  2.000000e+00  2.000000e+00  9.900000e+01

          PNEUMONIA           AGE      PREGNANT      DIABETES          COPD  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   3.346831e+00  4.179410e+01  4.976558e+01  2.186404e+00  2.260569e+00
std    1.191288e+01  1.690739e+01  4.751073e+01  5.424242e+00  5.132258e+00
min    1.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    2.000000e+00  3.000000e+01  2.000000e+00  2.000000e+00  2.000000e+00
50%    2.000000e+00  4.000000e+01  9.700000e+01  2.000000e+00  2.000000e+00
75%    2.000000e+00  5.300000e+01  9.700000e+01  2.000000e+00  2.000000e+00
max    9.900000e+01  1.210000e+02  9.800000e+01  9.800000e+01  9.800000e+01

             ASTHMA       INMSUPR  HIPERTENSION  OTHER_DISEASE  \
count  1.048575e+06  1.048575e+06  1.048575e+06   1.048575e+06
mean   2.242626e+00  2.298132e+00  2.128989e+00   2.435143e+00
std    5.114089e+00  5.462843e+00  5.236397e+00   6.646676e+00
min    1.000000e+00  1.000000e+00  1.000000e+00   1.000000e+00
25%    2.000000e+00  2.000000e+00  2.000000e+00   2.000000e+00
50%    2.000000e+00  2.000000e+00  2.000000e+00   2.000000e+00
75%    2.000000e+00  2.000000e+00  2.000000e+00   2.000000e+00
max    9.800000e+01  9.800000e+01  9.800000e+01   9.800000e+01

       CARDIOVASCULAR       OBESITY  RENAL_CHRONIC       TOBACCO  \
count    1.048575e+06  1.048575e+06   1.048575e+06  1.048575e+06
mean     2.261810e+00  2.125176e+00   2.257180e+00  2.214333e+00
std      5.194850e+00  5.175445e+00   5.135354e+00  5.323097e+00
min      1.000000e+00  1.000000e+00   1.000000e+00  1.000000e+00
25%      2.000000e+00  2.000000e+00   2.000000e+00  2.000000e+00
50%      2.000000e+00  2.000000e+00   2.000000e+00  2.000000e+00
75%      2.000000e+00  2.000000e+00   2.000000e+00  2.000000e+00
max      9.800000e+01  9.800000e+01   9.800000e+01  9.800000e+01

       CLASIFFICATION_FINAL           ICU
count          1.048575e+06  1.048575e+06
mean           5.305653e+00  7.955397e+01
std            1.881165e+00  3.682307e+01
min            1.000000e+00  1.000000e+00
25%            3.000000e+00  9.700000e+01
50%            6.000000e+00  9.700000e+01
75%            7.000000e+00  9.700000e+01
max            7.000000e+00  9.900000e+01

In [7]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE   DATE_DIED  INTUBED  \
0            2             1    1             1  03/05/2020       97
1            2             1    2             1  03/06/2020       97
2            2             1    2             2  09/06/2020        1
3            2             1    1             1  12/06/2020       97
4            2             1    2             1  21/06/2020       97
...        ...           ...  ...           ...         ...      ...
1048570      2            13    2             1  9999-99-99       97
1048571      1            13    2             2  9999-99-99        2
1048572      2            13    2             1  9999-99-99       97
1048573      2            13    2             1  9999-99-99       97
1048574      2            13    2             1  9999-99-99       97

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
0                1   65         2         2  ...       2        2
1                1   72        97         2  ...       2        2
2                2   55        97         1  ...       2        2
3                2   53         2         2  ...       2        2
4                2   68        97         1  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048570          2   40        97         2  ...       2        2
1048571          2   51        97         2  ...       2        2
1048572          2   55        97         2  ...       2        2
1048573          2   28        97         2  ...       2        2
1048574          2   52        97         2  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
0                   1              2               2        2              2
1                   1              2               2        1              1
2                   2              2               2        2              2
3                   2              2               2        2              2
4                   1              2               2        2              2
...               ...            ...             ...      ...            ...
1048570             2              2               2        2              2
1048571             1              2               2        2              2
1048572             2              2               2        2              2
1048573             2              2               2        2              2
1048574             2              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
0              2                     3   97
1              2                     5   97
2              2                     3    2
3              2                     7   97
4              2                     3   97
...          ...                   ...  ...
1048570        2                     7   97
1048571        2                     7    2
1048572        2                     7   97
1048573        2                     7   97
1048574        2                     7   97

[1048575 rows x 21 columns]

---

In the Boolean features, 1 means "yes" and 2 means "no". values as 97 and 99 are missing data.

sex: female or male

age: of the patient.

classification: covid test findings. Values 1-3 mean that the patient was diagnosed with covid in different
degrees. 4 or higher means that the patient is not a carrier of covid or that the test is inconclusive.

patient type: hospitalized or not hospitalized.

pneumonia: whether the patient already have air sacs inflammation or not.

pregnancy: whether the patient is pregnant or not.

diabetes: whether the patient has diabetes or not.

copd: Indicates whether the patient has Chronic obstructive pulmonary disease or not.

asthma: whether the patient has asthma or not.

inmsupr: whether the patient is immunosuppressed or not.

hypertension: whether the patient has hypertension or not.

cardiovascular: whether the patient has heart or blood vessels related disease.

renal chronic: whether the patient has chronic renal disease or not.

other disease: whether the patient has other disease or not.

obesity: whether the patient is obese or not.

tobacco: whether the patient is a tobacco user.

usmr: Indicates whether the patient treated medical units of the first, second or third level.

medical unit: type of institution of the National Health System that provided the care.

intubed: whether the patient was connected to the ventilator.

icu: Indicates whether the patient had been admitted to an Intensive Care Unit.

death: indicates whether the patient died or recovered.

---

In [8]:
print(df.USMER)

0          2
1          2
2          2
3          2
4          2
          ..
1048570    2
1048571    1
1048572    2
1048573    2
1048574    2
Name: USMER, Length: 1048575, dtype: int64

In [9]:
print(df.USMER.isnull())

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: USMER, Length: 1048575, dtype: bool

In [11]:
print(df.MEDICAL_UNIT)
print(df.MEDICAL_UNIT.isnull())

0           1
1           1
2           1
3           1
4           1
           ..
1048570    13
1048571    13
1048572    13
1048573    13
1048574    13
Name: MEDICAL_UNIT, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: MEDICAL_UNIT, Length: 1048575, dtype: bool

In [13]:
print(df.SEX)
print(df.SEX.isnull())

0          1
1          2
2          2
3          1
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: SEX, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: SEX, Length: 1048575, dtype: bool

In [15]:
print(df.SEX.describe())

count    1.048575e+06
mean     1.499259e+00
std      4.999997e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      2.000000e+00
Name: SEX, dtype: float64

In [18]:
print(df.PATIENT_TYPE)
print(df.PATIENT_TYPE.isnull())
print(df.PATIENT_TYPE.describe())

0          1
1          1
2          2
3          1
4          1
          ..
1048570    1
1048571    2
1048572    1
1048573    1
1048574    1
Name: PATIENT_TYPE, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: PATIENT_TYPE, Length: 1048575, dtype: bool
count    1.048575e+06
mean     1.190765e+00
std      3.929041e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      2.000000e+00
Name: PATIENT_TYPE, dtype: float64

In [19]:
print(df.DATE_DIED)
print(df.DATE_DIED.isnull())
print(df.DATE_DIED.describe())

0          03/05/2020
1          03/06/2020
2          09/06/2020
3          12/06/2020
4          21/06/2020
              ...
1048570    9999-99-99
1048571    9999-99-99
1048572    9999-99-99
1048573    9999-99-99
1048574    9999-99-99
Name: DATE_DIED, Length: 1048575, dtype: object
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: DATE_DIED, Length: 1048575, dtype: bool
count        1048575
unique           401
top       9999-99-99
freq          971633
Name: DATE_DIED, dtype: object

In [21]:
print(df.INTUBED)
print(df.INTUBED.isnull()) 
print(df.INTUBED.describe())

0          97
1          97
2           1
3          97
4          97
           ..
1048570    97
1048571     2
1048572    97
1048573    97
1048574    97
Name: INTUBED, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: INTUBED, Length: 1048575, dtype: bool
count    1.048575e+06
mean     7.952288e+01
std      3.686889e+01
min      1.000000e+00
25%      9.700000e+01
50%      9.700000e+01
75%      9.700000e+01
max      9.900000e+01
Name: INTUBED, dtype: float64

In [23]:
print(df.PREGNANT)
print(df.PREGNANT.isnull())
print(df.PREGNANT.describe())

0           2
1          97
2          97
3           2
4          97
           ..
1048570    97
1048571    97
1048572    97
1048573    97
1048574    97
Name: PREGNANT, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: PREGNANT, Length: 1048575, dtype: bool
count    1.048575e+06
mean     4.976558e+01
std      4.751073e+01
min      1.000000e+00
25%      2.000000e+00
50%      9.700000e+01
75%      9.700000e+01
max      9.800000e+01
Name: PREGNANT, dtype: float64

- 97 ve 99 değerleri missing value! tarih, entübasyon, hamilelik ve icu'da var

In [25]:
df.drop("DATE_DIED",inplace=True,axis=1)

In [26]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  INTUBED  PNEUMONIA  AGE  \
0            2             1    1             1       97          1   65
1            2             1    2             1       97          1   72
2            2             1    2             2        1          2   55
3            2             1    1             1       97          2   53
4            2             1    2             1       97          2   68
...        ...           ...  ...           ...      ...        ...  ...
1048570      2            13    2             1       97          2   40
1048571      1            13    2             2        2          2   51
1048572      2            13    2             1       97          2   55
1048573      2            13    2             1       97          2   28
1048574      2            13    2             1       97          2   52

         PREGNANT  DIABETES  COPD  ASTHMA  INMSUPR  HIPERTENSION  \
0               2         2     2       2        2             1
1              97         2     2       2        2             1
2              97         1     2       2        2             2
3               2         2     2       2        2             2
4              97         1     2       2        2             1
...           ...       ...   ...     ...      ...           ...
1048570        97         2     2       2        2             2
1048571        97         2     2       2        2             1
1048572        97         2     2       2        2             2
1048573        97         2     2       2        2             2
1048574        97         2     2       2        2             2

         OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  \
0                    2               2        2              2        2
1                    2               2        1              1        2
2                    2               2        2              2        2
3                    2               2        2              2        2
4                    2               2        2              2        2
...                ...             ...      ...            ...      ...
1048570              2               2        2              2        2
1048571              2               2        2              2        2
1048572              2               2        2              2        2
1048573              2               2        2              2        2
1048574              2               2        2              2        2

         CLASIFFICATION_FINAL  ICU
0                           3   97
1                           5   97
2                           3    2
3                           7   97
4                           3   97
...                       ...  ...
1048570                     7   97
1048571                     7    2
1048572                     7   97
1048573                     7   97
1048574                     7   97

[1048575 rows x 20 columns]

In [28]:
df.drop("INTUBED",inplace=True,axis=1)

In [30]:
df.drop("PREGNANT",inplace=True,axis=1)

In [31]:
df.drop("ICU",inplace=True,axis=1)

In [32]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  PNEUMONIA  AGE  DIABETES  \
0            2             1    1             1          1   65         2
1            2             1    2             1          1   72         2
2            2             1    2             2          2   55         1
3            2             1    1             1          2   53         2
4            2             1    2             1          2   68         1
...        ...           ...  ...           ...        ...  ...       ...
1048570      2            13    2             1          2   40         2
1048571      1            13    2             2          2   51         2
1048572      2            13    2             1          2   55         2
1048573      2            13    2             1          2   28         2
1048574      2            13    2             1          2   52         2

         COPD  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  \
0           2       2        2             1              2               2
1           2       2        2             1              2               2
2           2       2        2             2              2               2
3           2       2        2             2              2               2
4           2       2        2             1              2               2
...       ...     ...      ...           ...            ...             ...
1048570     2       2        2             2              2               2
1048571     2       2        2             1              2               2
1048572     2       2        2             2              2               2
1048573     2       2        2             2              2               2
1048574     2       2        2             2              2               2

         OBESITY  RENAL_CHRONIC  TOBACCO  CLASIFFICATION_FINAL
0              2              2        2                     3
1              1              1        2                     5
2              2              2        2                     3
3              2              2        2                     7
4              2              2        2                     3
...          ...            ...      ...                   ...
1048570        2              2        2                     7
1048571        2              2        2                     7
1048572        2              2        2                     7
1048573        2              2        2                     7
1048574        2              2        2                     7

[1048575 rows x 17 columns]

In [33]:
print(df.duplicated())

0          False
1          False
2          False
3          False
4          False
           ...
1048570     True
1048571    False
1048572    False
1048573     True
1048574    False
Length: 1048575, dtype: bool

In [34]:
print(df[df.duplicated()])

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  PNEUMONIA  AGE  DIABETES  \
19           2             1    1             1          2   64         2
35           2             1    2             1          2   45         2
41           2             1    2             2          1   45         2
62           2             1    1             2          2   25         2
63           2             1    2             1          2   33         2
...        ...           ...  ...           ...        ...  ...       ...
1048556      2            13    2             1          2   31         2
1048558      1            13    2             1          2   28         2
1048566      2            13    2             1          2   24         2
1048570      2            13    2             1          2   40         2
1048573      2            13    2             1          2   28         2

         COPD  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  \
19          2       2        2             2              2               2
35          2       2        2             2              2               2
41          2       2        2             2              2               2
62          2       2        2             2              2               2
63          2       2        2             2              2               2
...       ...     ...      ...           ...            ...             ...
1048556     2       2        2             2              2               2
1048558     2       2        2             2              2               2
1048566     2       1        2             2              2               2
1048570     2       2        2             2              2               2
1048573     2       2        2             2              2               2

         OBESITY  RENAL_CHRONIC  TOBACCO  CLASIFFICATION_FINAL
19             2              2        2                     3
35             2              2        2                     3
41             2              2        2                     3
62             2              2        2                     7
63             2              2        2                     7
...          ...            ...      ...                   ...
1048556        2              2        2                     7
1048558        2              2        2                     7
1048566        2              2        2                     7
1048570        2              2        2                     7
1048573        2              2        2                     7

[871904 rows x 17 columns]

In [35]:
df.drop_duplicates(inplace=True)

In [36]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  PNEUMONIA  AGE  DIABETES  \
0            2             1    1             1          1   65         2
1            2             1    2             1          1   72         2
2            2             1    2             2          2   55         1
3            2             1    1             1          2   53         2
4            2             1    2             1          2   68         1
...        ...           ...  ...           ...        ...  ...       ...
1048568      1            13    2             1          2   47         1
1048569      1            13    1             2          2   56         1
1048571      1            13    2             2          2   51         2
1048572      2            13    2             1          2   55         2
1048574      2            13    2             1          2   52         2

         COPD  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  \
0           2       2        2             1              2               2
1           2       2        2             1              2               2
2           2       2        2             2              2               2
3           2       2        2             2              2               2
4           2       2        2             1              2               2
...       ...     ...      ...           ...            ...             ...
1048568     2       2        2             2              2               2
1048569     2       2        2             2              2               2
1048571     2       2        2             1              2               2
1048572     2       2        2             2              2               2
1048574     2       2        2             2              2               2

         OBESITY  RENAL_CHRONIC  TOBACCO  CLASIFFICATION_FINAL
0              2              2        2                     3
1              1              1        2                     5
2              2              2        2                     3
3              2              2        2                     7
4              2              2        2                     3
...          ...            ...      ...                   ...
1048568        2              2        2                     7
1048569        2              2        2                     7
1048571        2              2        2                     7
1048572        2              2        2                     7
1048574        2              2        2                     7

[176671 rows x 17 columns]

In [43]:
df.drop("CLASIFFICATION_FINAL",inplace=True,axis=1) #ihtiyaç yok

In [44]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  PNEUMONIA  AGE  DIABETES  \
0            2             1    1             1          1   65         2
1            2             1    2             1          1   72         2
2            2             1    2             2          2   55         1
3            2             1    1             1          2   53         2
4            2             1    2             1          2   68         1
...        ...           ...  ...           ...        ...  ...       ...
1048568      1            13    2             1          2   47         1
1048569      1            13    1             2          2   56         1
1048571      1            13    2             2          2   51         2
1048572      2            13    2             1          2   55         2
1048574      2            13    2             1          2   52         2

         COPD  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  \
0           2       2        2             1              2               2
1           2       2        2             1              2               2
2           2       2        2             2              2               2
3           2       2        2             2              2               2
4           2       2        2             1              2               2
...       ...     ...      ...           ...            ...             ...
1048568     2       2        2             2              2               2
1048569     2       2        2             2              2               2
1048571     2       2        2             1              2               2
1048572     2       2        2             2              2               2
1048574     2       2        2             2              2               2

         OBESITY  RENAL_CHRONIC  TOBACCO
0              2              2        2
1              1              1        2
2              2              2        2
3              2              2        2
4              2              2        2
...          ...            ...      ...
1048568        2              2        2
1048569        2              2        2
1048571        2              2        2
1048572        2              2        2
1048574        2              2        2

[176671 rows x 16 columns]

In [46]:
dfNew=pd.concat([df.loc[:,["USMER","MEDICAL_UNIT","SEX","PATIENT_TYPE","PNEUMONIA","AGE","DIABETES","COPD","ASTHMA","INMSUPR","HIPERTENSION","OTHER_DISEASE","CARDIOVASCULAR","OBESITY","RENAL_CHRONIC","TOBACCO"]]],axis=1)
print(dfNew)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  PNEUMONIA  AGE  DIABETES  \
0            2             1    1             1          1   65         2
1            2             1    2             1          1   72         2
2            2             1    2             2          2   55         1
3            2             1    1             1          2   53         2
4            2             1    2             1          2   68         1
...        ...           ...  ...           ...        ...  ...       ...
1048568      1            13    2             1          2   47         1
1048569      1            13    1             2          2   56         1
1048571      1            13    2             2          2   51         2
1048572      2            13    2             1          2   55         2
1048574      2            13    2             1          2   52         2

         COPD  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  \
0           2       2        2             1              2               2
1           2       2        2             1              2               2
2           2       2        2             2              2               2
3           2       2        2             2              2               2
4           2       2        2             1              2               2
...       ...     ...      ...           ...            ...             ...
1048568     2       2        2             2              2               2
1048569     2       2        2             2              2               2
1048571     2       2        2             1              2               2
1048572     2       2        2             2              2               2
1048574     2       2        2             2              2               2

         OBESITY  RENAL_CHRONIC  TOBACCO
0              2              2        2
1              1              1        2
2              2              2        2
3              2              2        2
4              2              2        2
...          ...            ...      ...
1048568        2              2        2
1048569        2              2        2
1048571        2              2        2
1048572        2              2        2
1048574        2              2        2

[176671 rows x 16 columns]

In [47]:
dfNew.to_csv("CovidData.csv",sep=";")

In [48]:
import matplotlib.pyplot as plt

- yapılacaklar date_died 0 1 ile öldü ölmedi belirle
- classiffication ile hastalanma geçmişini tara
- icu vs ölüm oranlarına bak