In [2]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("covid_data.csv",sep=",")
print(df.head())



df.DATE_DIED= [1 if each == "9999-99-99" else 2 for each in df.DATE_DIED]

  ;USMER;MEDICAL_UNIT;SEX;PATIENT_TYPE;DATE_DIED;INTUBED;PNEUMONIA;AGE;PREGNANT;DIABETES;COPD;ASTHMA;INMSUPR;HIPERTENSION;OTHER_DISEASE;CARDIOVASCULAR;OBESITY;RENAL_CHRONIC;TOBACCO;CLASIFFICATION_FINAL;ICU
0       5;2;1;1;2;1;2;1;40;2;2;2;2;2;2;2;2;2;2;2;3;2
1       8;2;1;1;2;1;2;2;37;2;1;2;2;2;1;2;2;1;2;2;3;2
2       9;2;1;1;2;1;2;2;25;2;2;2;2;2;2;2;2;2;2;2;3;2
3      16;2;1;1;2;1;2;1;80;2;2;2;2;2;1;2;2;2;2;2;3;1
4      56;2;1;1;2;1;1;1;58;2;2;2;2;2;1;2;1;1;2;2;7;1

In [5]:
print(df.tail())

      ;USMER;MEDICAL_UNIT;SEX;PATIENT_TYPE;DATE_DIED;INTUBED;PNEUMONIA;AGE;PREGNANT;DIABETES;COPD;ASTHMA;INMSUPR;HIPERTENSION;OTHER_DISEASE;CARDIOVASCULAR;OBESITY;RENAL_CHRONIC;TOBACCO;CLASIFFICATION_FINAL;ICU
76836  1048535;1;13;1;2;1;2;2;79;2;2;2;2;2;1;2;2;2;2;...
76837  1048553;2;13;1;2;1;2;1;61;2;1;2;2;2;1;2;2;2;2;...
76838  1048554;2;13;1;2;1;2;1;63;2;2;2;1;2;2;2;2;1;2;...
76839  1048567;1;13;1;2;1;2;2;23;2;1;2;2;2;2;2;2;1;2;...
76840  1048569;1;13;1;2;1;2;2;56;2;1;2;2;2;2;2;2;2;2;...

In [68]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  int64
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(21)
memory usage: 168.0 MB
None

In [69]:
print(df.dtypes)

USMER                   int64
MEDICAL_UNIT            int64
SEX                     int64
PATIENT_TYPE            int64
DATE_DIED               int64
INTUBED                 int64
PNEUMONIA               int64
AGE                     int64
PREGNANT                int64
DIABETES                int64
COPD                    int64
ASTHMA                  int64
INMSUPR                 int64
HIPERTENSION            int64
OTHER_DISEASE           int64
CARDIOVASCULAR          int64
OBESITY                 int64
RENAL_CHRONIC           int64
TOBACCO                 int64
CLASIFFICATION_FINAL    int64
ICU                     int64
dtype: object

In [70]:
print(df.describe())

              USMER  MEDICAL_UNIT           SEX  PATIENT_TYPE     DATE_DIED  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   1.632194e+00  8.980565e+00  1.499259e+00  1.190765e+00  1.073378e+00
std    4.822084e-01  3.723278e+00  4.999997e-01  3.929041e-01  2.607556e-01
min    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    1.000000e+00  4.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
50%    2.000000e+00  1.200000e+01  1.000000e+00  1.000000e+00  1.000000e+00
75%    2.000000e+00  1.200000e+01  2.000000e+00  1.000000e+00  1.000000e+00
max    2.000000e+00  1.300000e+01  2.000000e+00  2.000000e+00  2.000000e+00

            INTUBED     PNEUMONIA           AGE      PREGNANT      DIABETES  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   7.952288e+01  3.346831e+00  4.179410e+01  4.976558e+01  2.186404e+00
std    3.686889e+01  1.191288e+01  1.690739e+01  4.751073e+01  5.424242e+00
min    1.000000e+00  1.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00
25%    9.700000e+01  2.000000e+00  3.000000e+01  2.000000e+00  2.000000e+00
50%    9.700000e+01  2.000000e+00  4.000000e+01  9.700000e+01  2.000000e+00
75%    9.700000e+01  2.000000e+00  5.300000e+01  9.700000e+01  2.000000e+00
max    9.900000e+01  9.900000e+01  1.210000e+02  9.800000e+01  9.800000e+01

       ...        ASTHMA       INMSUPR  HIPERTENSION  OTHER_DISEASE  \
count  ...  1.048575e+06  1.048575e+06  1.048575e+06   1.048575e+06
mean   ...  2.242626e+00  2.298132e+00  2.128989e+00   2.435143e+00
std    ...  5.114089e+00  5.462843e+00  5.236397e+00   6.646676e+00
min    ...  1.000000e+00  1.000000e+00  1.000000e+00   1.000000e+00
25%    ...  2.000000e+00  2.000000e+00  2.000000e+00   2.000000e+00
50%    ...  2.000000e+00  2.000000e+00  2.000000e+00   2.000000e+00
75%    ...  2.000000e+00  2.000000e+00  2.000000e+00   2.000000e+00
max    ...  9.800000e+01  9.800000e+01  9.800000e+01   9.800000e+01

       CARDIOVASCULAR       OBESITY  RENAL_CHRONIC       TOBACCO  \
count    1.048575e+06  1.048575e+06   1.048575e+06  1.048575e+06
mean     2.261810e+00  2.125176e+00   2.257180e+00  2.214333e+00
std      5.194850e+00  5.175445e+00   5.135354e+00  5.323097e+00
min      1.000000e+00  1.000000e+00   1.000000e+00  1.000000e+00
25%      2.000000e+00  2.000000e+00   2.000000e+00  2.000000e+00
50%      2.000000e+00  2.000000e+00   2.000000e+00  2.000000e+00
75%      2.000000e+00  2.000000e+00   2.000000e+00  2.000000e+00
max      9.800000e+01  9.800000e+01   9.800000e+01  9.800000e+01

       CLASIFFICATION_FINAL           ICU
count          1.048575e+06  1.048575e+06
mean           5.305653e+00  7.955397e+01
std            1.881165e+00  3.682307e+01
min            1.000000e+00  1.000000e+00
25%            3.000000e+00  9.700000e+01
50%            6.000000e+00  9.700000e+01
75%            7.000000e+00  9.700000e+01
max            7.000000e+00  9.900000e+01

[8 rows x 21 columns]

---

In the Boolean features, 1 means "yes" and 2 means "no". values as 97 and 99 are missing data.

sex: female or male

age: of the patient.

classification: covid test findings. Values 1-3 mean that the patient was diagnosed with covid in different
degrees. 4 or higher means that the patient is not a carrier of covid or that the test is inconclusive.

patient type: hospitalized or not hospitalized.

pneumonia: whether the patient already have air sacs inflammation or not.

pregnancy: whether the patient is pregnant or not.

diabetes: whether the patient has diabetes or not.

copd: Indicates whether the patient has Chronic obstructive pulmonary disease or not.

asthma: whether the patient has asthma or not.

inmsupr: whether the patient is immunosuppressed or not.

hypertension: whether the patient has hypertension or not.

cardiovascular: whether the patient has heart or blood vessels related disease.

renal chronic: whether the patient has chronic renal disease or not.

other disease: whether the patient has other disease or not.

obesity: whether the patient is obese or not.

tobacco: whether the patient is a tobacco user.

usmr: Indicates whether the patient treated medical units of the first, second or third level.

medical unit: type of institution of the National Health System that provided the care.

intubed: whether the patient was connected to the ventilator.

icu: Indicates whether the patient had been admitted to an Intensive Care Unit.

death: indicates whether the patient died or recovered.

---

In [71]:
print(df.USMER)

0          2
1          2
2          2
3          2
4          2
          ..
1048570    2
1048571    1
1048572    2
1048573    2
1048574    2
Name: USMER, Length: 1048575, dtype: int64

In [72]:
print(df.USMER.isnull())

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: USMER, Length: 1048575, dtype: bool

In [73]:
print(df.USMER.describe())

count    1.048575e+06
mean     1.632194e+00
std      4.822084e-01
min      1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      2.000000e+00
Name: USMER, dtype: float64

In [74]:
print(df.MEDICAL_UNIT)
print(df.MEDICAL_UNIT.isnull())
print(df.MEDICAL_UNIT.describe())

0           1
1           1
2           1
3           1
4           1
           ..
1048570    13
1048571    13
1048572    13
1048573    13
1048574    13
Name: MEDICAL_UNIT, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: MEDICAL_UNIT, Length: 1048575, dtype: bool
count    1.048575e+06
mean     8.980565e+00
std      3.723278e+00
min      1.000000e+00
25%      4.000000e+00
50%      1.200000e+01
75%      1.200000e+01
max      1.300000e+01
Name: MEDICAL_UNIT, dtype: float64

In [75]:
print(df.SEX)
print(df.SEX.isnull())
print(df.SEX.describe())

0          1
1          2
2          2
3          1
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: SEX, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: SEX, Length: 1048575, dtype: bool
count    1.048575e+06
mean     1.499259e+00
std      4.999997e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      2.000000e+00
Name: SEX, dtype: float64

In [76]:
print(df.PATIENT_TYPE)
print(df.PATIENT_TYPE.isnull())
print(df.PATIENT_TYPE.describe())

0          1
1          1
2          2
3          1
4          1
          ..
1048570    1
1048571    2
1048572    1
1048573    1
1048574    1
Name: PATIENT_TYPE, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: PATIENT_TYPE, Length: 1048575, dtype: bool
count    1.048575e+06
mean     1.190765e+00
std      3.929041e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      2.000000e+00
Name: PATIENT_TYPE, dtype: float64

In [77]:
print(df.DATE_DIED)
print(df.DATE_DIED.isnull())
print(df.DATE_DIED.describe())

0          2
1          2
2          2
3          2
4          2
          ..
1048570    1
1048571    1
1048572    1
1048573    1
1048574    1
Name: DATE_DIED, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: DATE_DIED, Length: 1048575, dtype: bool
count    1.048575e+06
mean     1.073378e+00
std      2.607556e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      2.000000e+00
Name: DATE_DIED, dtype: float64

- DATE_DIED ---> ALIVE/DIE çevir

In [78]:
print(df.INTUBED)
print(df.INTUBED.isnull())
print(df.INTUBED.describe())

0          97
1          97
2           1
3          97
4          97
           ..
1048570    97
1048571     2
1048572    97
1048573    97
1048574    97
Name: INTUBED, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: INTUBED, Length: 1048575, dtype: bool
count    1.048575e+06
mean     7.952288e+01
std      3.686889e+01
min      1.000000e+00
25%      9.700000e+01
50%      9.700000e+01
75%      9.700000e+01
max      9.900000e+01
Name: INTUBED, dtype: float64

In [79]:
print(df.PNEUMONIA)
print(df.PNEUMONIA.isnull())
print(df.PNEUMONIA.describe())

0          1
1          1
2          2
3          2
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: PNEUMONIA, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: PNEUMONIA, Length: 1048575, dtype: bool
count    1.048575e+06
mean     3.346831e+00
std      1.191288e+01
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.900000e+01
Name: PNEUMONIA, dtype: float64

In [80]:
print(df.AGE)
print(df.AGE.isnull())
print(df.AGE.describe())

0          65
1          72
2          55
3          53
4          68
           ..
1048570    40
1048571    51
1048572    55
1048573    28
1048574    52
Name: AGE, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: AGE, Length: 1048575, dtype: bool
count    1.048575e+06
mean     4.179410e+01
std      1.690739e+01
min      0.000000e+00
25%      3.000000e+01
50%      4.000000e+01
75%      5.300000e+01
max      1.210000e+02
Name: AGE, dtype: float64

In [81]:
print(df.PREGNANT)
print(df.PREGNANT.isnull())
print(df.PREGNANT.describe())

0           2
1          97
2          97
3           2
4          97
           ..
1048570    97
1048571    97
1048572    97
1048573    97
1048574    97
Name: PREGNANT, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: PREGNANT, Length: 1048575, dtype: bool
count    1.048575e+06
mean     4.976558e+01
std      4.751073e+01
min      1.000000e+00
25%      2.000000e+00
50%      9.700000e+01
75%      9.700000e+01
max      9.800000e+01
Name: PREGNANT, dtype: float64

In [82]:
print(df.DIABETES)
print(df.DIABETES.isnull())
print(df.DIABETES.describe())

0          2
1          2
2          1
3          2
4          1
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: DIABETES, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: DIABETES, Length: 1048575, dtype: bool
count    1.048575e+06
mean     2.186404e+00
std      5.424242e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.800000e+01
Name: DIABETES, dtype: float64

In [83]:
print(df.ASTHMA)
print(df.ASTHMA.isnull())
print(df.ASTHMA.describe())

0          2
1          2
2          2
3          2
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: ASTHMA, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: ASTHMA, Length: 1048575, dtype: bool
count    1.048575e+06
mean     2.242626e+00
std      5.114089e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.800000e+01
Name: ASTHMA, dtype: float64

In [84]:
print(df.INMSUPR)
print(df.INMSUPR.isnull())
print(df.INMSUPR.describe())

0          2
1          2
2          2
3          2
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: INMSUPR, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: INMSUPR, Length: 1048575, dtype: bool
count    1.048575e+06
mean     2.298132e+00
std      5.462843e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.800000e+01
Name: INMSUPR, dtype: float64

In [85]:
print(df.HIPERTENSION)
print(df.HIPERTENSION.isnull())
print(df.HIPERTENSION.describe())

0          1
1          1
2          2
3          2
4          1
          ..
1048570    2
1048571    1
1048572    2
1048573    2
1048574    2
Name: HIPERTENSION, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: HIPERTENSION, Length: 1048575, dtype: bool
count    1.048575e+06
mean     2.128989e+00
std      5.236397e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.800000e+01
Name: HIPERTENSION, dtype: float64

In [86]:
print(df.OTHER_DISEASE)
print(df.OTHER_DISEASE.isnull())
print(df.OTHER_DISEASE.describe())

0          2
1          2
2          2
3          2
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: OTHER_DISEASE, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: OTHER_DISEASE, Length: 1048575, dtype: bool
count    1.048575e+06
mean     2.435143e+00
std      6.646676e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.800000e+01
Name: OTHER_DISEASE, dtype: float64

In [87]:
print(df.CARDIOVASCULAR)
print(df.CARDIOVASCULAR.isnull())
print(df.CARDIOVASCULAR.describe())

0          2
1          2
2          2
3          2
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: CARDIOVASCULAR, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: CARDIOVASCULAR, Length: 1048575, dtype: bool
count    1.048575e+06
mean     2.261810e+00
std      5.194850e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.800000e+01
Name: CARDIOVASCULAR, dtype: float64

In [88]:
print(df.OBESITY)
print(df.OBESITY.isnull())
print(df.OBESITY.describe())

0          2
1          1
2          2
3          2
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: OBESITY, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: OBESITY, Length: 1048575, dtype: bool
count    1.048575e+06
mean     2.125176e+00
std      5.175445e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.800000e+01
Name: OBESITY, dtype: float64

In [89]:
print(df.RENAL_CHRONIC)
print(df.RENAL_CHRONIC.isnull())
print(df.RENAL_CHRONIC.describe())

0          2
1          1
2          2
3          2
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: RENAL_CHRONIC, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: RENAL_CHRONIC, Length: 1048575, dtype: bool
count    1.048575e+06
mean     2.257180e+00
std      5.135354e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.800000e+01
Name: RENAL_CHRONIC, dtype: float64

In [90]:
print(df.TOBACCO)
print(df.TOBACCO.isnull())
print(df.TOBACCO.describe())

0          2
1          2
2          2
3          2
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Name: TOBACCO, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: TOBACCO, Length: 1048575, dtype: bool
count    1.048575e+06
mean     2.214333e+00
std      5.323097e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      9.800000e+01
Name: TOBACCO, dtype: float64

In [91]:
print(df.CLASIFFICATION_FINAL)
print(df.CLASIFFICATION_FINAL.isnull())
print(df.CLASIFFICATION_FINAL.describe())

0          3
1          5
2          3
3          7
4          3
          ..
1048570    7
1048571    7
1048572    7
1048573    7
1048574    7
Name: CLASIFFICATION_FINAL, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: CLASIFFICATION_FINAL, Length: 1048575, dtype: bool
count    1.048575e+06
mean     5.305653e+00
std      1.881165e+00
min      1.000000e+00
25%      3.000000e+00
50%      6.000000e+00
75%      7.000000e+00
max      7.000000e+00
Name: CLASIFFICATION_FINAL, dtype: float64

- sonuç 4 ve üstü ise test negatif veya sonuçsuz

In [92]:
print(df.ICU)
print(df.ICU.isnull())
print(df.ICU.describe())

0          97
1          97
2           2
3          97
4          97
           ..
1048570    97
1048571     2
1048572    97
1048573    97
1048574    97
Name: ICU, Length: 1048575, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: ICU, Length: 1048575, dtype: bool
count    1.048575e+06
mean     7.955397e+01
std      3.682307e+01
min      1.000000e+00
25%      9.700000e+01
50%      9.700000e+01
75%      9.700000e+01
max      9.900000e+01
Name: ICU, dtype: float64

- hastanın yoğun bakımda olması... 97, 99 var sil

In [93]:
print(df.duplicated())

0          False
1          False
2          False
3          False
4          False
           ...
1048570     True
1048571    False
1048572    False
1048573     True
1048574    False
Length: 1048575, dtype: bool

In [94]:
print(df[df.duplicated()])

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
19           2             1    1             1          1       97
35           2             1    2             1          1       97
62           2             1    1             2          1        2
63           2             1    2             1          1       97
75           2             1    1             1          1       97
...        ...           ...  ...           ...        ...      ...
1048556      2            13    2             1          1       97
1048558      1            13    2             1          1       97
1048566      2            13    2             1          1       97
1048570      2            13    2             1          1       97
1048573      2            13    2             1          1       97

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
19               2   64         2         2  ...       2        2
35               2   45        97         2  ...       2        2
62               2   25         2         2  ...       2        2
63               2   33        97         2  ...       2        2
75               2   24         2         2  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048556          2   31        97         2  ...       2        2
1048558          2   28        97         2  ...       2        2
1048566          2   24        97         2  ...       1        2
1048570          2   40        97         2  ...       2        2
1048573          2   28        97         2  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
19                  2              2               2        2              2
35                  2              2               2        2              2
62                  2              2               2        2              2
63                  2              2               2        2              2
75                  2              2               2        2              2
...               ...            ...             ...      ...            ...
1048556             2              2               2        2              2
1048558             2              2               2        2              2
1048566             2              2               2        2              2
1048570             2              2               2        2              2
1048573             2              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
19             2                     3   97
35             2                     3   97
62             2                     7    2
63             2                     7   97
75             2                     7   97
...          ...                   ...  ...
1048556        2                     7   97
1048558        2                     7   97
1048566        2                     7   97
1048570        2                     7   97
1048573        2                     7   97

[836562 rows x 21 columns]

In [95]:
df.drop_duplicates(inplace=True)

In [96]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
0            2             1    1             1          2       97
1            2             1    2             1          2       97
2            2             1    2             2          2        1
3            2             1    1             1          2       97
4            2             1    2             1          2       97
...        ...           ...  ...           ...        ...      ...
1048568      1            13    2             1          1       97
1048569      1            13    1             2          1        2
1048571      1            13    2             2          1        2
1048572      2            13    2             1          1       97
1048574      2            13    2             1          1       97

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
0                1   65         2         2  ...       2        2
1                1   72        97         2  ...       2        2
2                2   55        97         1  ...       2        2
3                2   53         2         2  ...       2        2
4                2   68        97         1  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048568          2   47        97         1  ...       2        2
1048569          2   56         2         1  ...       2        2
1048571          2   51        97         2  ...       2        2
1048572          2   55        97         2  ...       2        2
1048574          2   52        97         2  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
0                   1              2               2        2              2
1                   1              2               2        1              1
2                   2              2               2        2              2
3                   2              2               2        2              2
4                   1              2               2        2              2
...               ...            ...             ...      ...            ...
1048568             2              2               2        2              2
1048569             2              2               2        2              2
1048571             1              2               2        2              2
1048572             2              2               2        2              2
1048574             2              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
0              2                     3   97
1              2                     5   97
2              2                     3    2
3              2                     7   97
4              2                     3   97
...          ...                   ...  ...
1048568        2                     7   97
1048569        2                     7    2
1048571        2                     7    2
1048572        2                     7   97
1048574        2                     7   97

[212013 rows x 21 columns]

In [97]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
0            2             1    1             1          2       97
1            2             1    2             1          2       97
2            2             1    2             2          2        1
3            2             1    1             1          2       97
4            2             1    2             1          2       97
...        ...           ...  ...           ...        ...      ...
1048568      1            13    2             1          1       97
1048569      1            13    1             2          1        2
1048571      1            13    2             2          1        2
1048572      2            13    2             1          1       97
1048574      2            13    2             1          1       97

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
0                1   65         2         2  ...       2        2
1                1   72        97         2  ...       2        2
2                2   55        97         1  ...       2        2
3                2   53         2         2  ...       2        2
4                2   68        97         1  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048568          2   47        97         1  ...       2        2
1048569          2   56         2         1  ...       2        2
1048571          2   51        97         2  ...       2        2
1048572          2   55        97         2  ...       2        2
1048574          2   52        97         2  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
0                   1              2               2        2              2
1                   1              2               2        1              1
2                   2              2               2        2              2
3                   2              2               2        2              2
4                   1              2               2        2              2
...               ...            ...             ...      ...            ...
1048568             2              2               2        2              2
1048569             2              2               2        2              2
1048571             1              2               2        2              2
1048572             2              2               2        2              2
1048574             2              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
0              2                     3   97
1              2                     5   97
2              2                     3    2
3              2                     7   97
4              2                     3   97
...          ...                   ...  ...
1048568        2                     7   97
1048569        2                     7    2
1048571        2                     7    2
1048572        2                     7   97
1048574        2                     7   97

[212013 rows x 21 columns]

YAPILACAKLAR
- DATE_DIED sütunundaki verileri 9999-99-99 hala hayatta (1) diğerleri vefat etmiş (2) 
- INTUBED, PNEUMONIA, PREGNANT, DIABETES, ASTHMA, INMSUPR, HIPERTENSION, OTHER_DISEASE, CARDIOVASCULAR, OBESITY, RENAL_CHRONIC, TOBACCO, ICU sütunlarındaki missing value (97,99) değerlerini duruma göre doldur veya sil.
- CLASIFFICATION_FINAL sıralaman gerekir mi bak

In [98]:
# PREGRANT sütununu tamamen sil (ölüm sayısını etkiler ama covid olma durumunu etkiler mi şu an ona bakılmayack)
df.drop("PREGNANT", inplace=True, axis=1)

In [99]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
0            2             1    1             1          2       97
1            2             1    2             1          2       97
2            2             1    2             2          2        1
3            2             1    1             1          2       97
4            2             1    2             1          2       97
...        ...           ...  ...           ...        ...      ...
1048568      1            13    2             1          1       97
1048569      1            13    1             2          1        2
1048571      1            13    2             2          1        2
1048572      2            13    2             1          1       97
1048574      2            13    2             1          1       97

         PNEUMONIA  AGE  DIABETES  COPD  ASTHMA  INMSUPR  HIPERTENSION  \
0                1   65         2     2       2        2             1
1                1   72         2     2       2        2             1
2                2   55         1     2       2        2             2
3                2   53         2     2       2        2             2
4                2   68         1     2       2        2             1
...            ...  ...       ...   ...     ...      ...           ...
1048568          2   47         1     2       2        2             2
1048569          2   56         1     2       2        2             2
1048571          2   51         2     2       2        2             1
1048572          2   55         2     2       2        2             2
1048574          2   52         2     2       2        2             2

         OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  \
0                    2               2        2              2        2
1                    2               2        1              1        2
2                    2               2        2              2        2
3                    2               2        2              2        2
4                    2               2        2              2        2
...                ...             ...      ...            ...      ...
1048568              2               2        2              2        2
1048569              2               2        2              2        2
1048571              2               2        2              2        2
1048572              2               2        2              2        2
1048574              2               2        2              2        2

         CLASIFFICATION_FINAL  ICU
0                           3   97
1                           5   97
2                           3    2
3                           7   97
4                           3   97
...                       ...  ...
1048568                     7   97
1048569                     7    2
1048571                     7    2
1048572                     7   97
1048574                     7   97

[212013 rows x 20 columns]

In [100]:
#DATE_DIED sütununu kullanarak BEING_ALIVE sütunu oluştur sonrasında DATE_DIED sütununu sil
print(df.DATE_DIED)
print(df.DATE_DIED.isnull()) #isnull olarak tanımlanmamış !ilk satırlarda düzeltme yapıldı! 1 hayatta 2 vefat etmiş

0          2
1          2
2          2
3          2
4          2
          ..
1048568    1
1048569    1
1048571    1
1048572    1
1048574    1
Name: DATE_DIED, Length: 212013, dtype: int64
0          False
1          False
2          False
3          False
4          False
           ...
1048568    False
1048569    False
1048571    False
1048572    False
1048574    False
Name: DATE_DIED, Length: 212013, dtype: bool

In [101]:
#INTUBED 97 olanları saydır, fazla ise sütunu tamamen sil
from collections import Counter

In [102]:
Counter(df.INTUBED)

Counter({97: 98755, 1: 23747, 2: 84126, 99: 5385})

In [135]:
# 97 ve 99 olan satırlar silinecek
print(df) # en üste taşıdığım drop neden çalışmadı?

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
0            2             1    1             1          2       97
1            2             1    2             1          2       97
2            2             1    2             2          2        1
3            2             1    1             1          2       97
4            2             1    2             1          2       97
...        ...           ...  ...           ...        ...      ...
1048570      2            13    2             1          1       97
1048571      1            13    2             2          1        2
1048572      2            13    2             1          1       97
1048573      2            13    2             1          1       97
1048574      2            13    2             1          1       97

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
0                1   65         2         2  ...       2        2
1                1   72        97         2  ...       2        2
2                2   55        97         1  ...       2        2
3                2   53         2         2  ...       2        2
4                2   68        97         1  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048570          2   40        97         2  ...       2        2
1048571          2   51        97         2  ...       2        2
1048572          2   55        97         2  ...       2        2
1048573          2   28        97         2  ...       2        2
1048574          2   52        97         2  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
0                   1              2               2        2              2
1                   1              2               2        1              1
2                   2              2               2        2              2
3                   2              2               2        2              2
4                   1              2               2        2              2
...               ...            ...             ...      ...            ...
1048570             2              2               2        2              2
1048571             1              2               2        2              2
1048572             2              2               2        2              2
1048573             2              2               2        2              2
1048574             2              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
0              2                     3   97
1              2                     5   97
2              2                     3    2
3              2                     7   97
4              2                     3   97
...          ...                   ...  ...
1048570        2                     7   97
1048571        2                     7    2
1048572        2                     7   97
1048573        2                     7   97
1048574        2                     7   97

[1048573 rows x 21 columns]

In [140]:
df.drop(df[df['INTUBED'] >= 3].index, inplace = True)

In [141]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
2            2             1    2             2          2        1
5            2             1    1             2          1        2
8            2             1    1             2          1        2
9            2             1    1             2          1        2
11           2             1    2             2          1        2
...        ...           ...  ...           ...        ...      ...
1048553      2            13    1             2          1        2
1048554      2            13    1             2          1        2
1048567      1            13    1             2          1        2
1048569      1            13    1             2          1        2
1048571      1            13    2             2          1        2

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
2                2   55        97         1  ...       2        2
5                1   40         2         2  ...       2        2
8                2   37         2         1  ...       2        2
9                2   25         2         2  ...       2        2
11               2   24        97         2  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048553          1   61         2         1  ...       2        2
1048554          1   63         2         2  ...       1        2
1048567          2   23         2         1  ...       2        2
1048569          2   56         2         1  ...       2        2
1048571          2   51        97         2  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
2                   2              2               2        2              2
5                   2              2               2        2              2
8                   1              2               2        1              2
9                   2              2               2        2              2
11                  2              2               2        2              2
...               ...            ...             ...      ...            ...
1048553             1              2               2        2              2
1048554             2              2               2        1              2
1048567             2              2               2        1              2
1048569             2              2               2        2              2
1048571             1              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
2              2                     3    2
5              2                     3    2
8              2                     3    2
9              2                     3    2
11             2                     3    2
...          ...                   ...  ...
1048553        2                     7    2
1048554        2                     7    2
1048567        2                     7    2
1048569        2                     7    2
1048571        2                     7    2

[192706 rows x 21 columns]

In [143]:
#diğer columnlarda tanımlanan 97 98 leri de sil (age hariç-gerçek yaş olabilir)
df.drop(df[df['SEX'] >= 3].index, inplace = True)

In [144]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
2            2             1    2             2          2        1
5            2             1    1             2          1        2
8            2             1    1             2          1        2
9            2             1    1             2          1        2
11           2             1    2             2          1        2
...        ...           ...  ...           ...        ...      ...
1048553      2            13    1             2          1        2
1048554      2            13    1             2          1        2
1048567      1            13    1             2          1        2
1048569      1            13    1             2          1        2
1048571      1            13    2             2          1        2

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
2                2   55        97         1  ...       2        2
5                1   40         2         2  ...       2        2
8                2   37         2         1  ...       2        2
9                2   25         2         2  ...       2        2
11               2   24        97         2  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048553          1   61         2         1  ...       2        2
1048554          1   63         2         2  ...       1        2
1048567          2   23         2         1  ...       2        2
1048569          2   56         2         1  ...       2        2
1048571          2   51        97         2  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
2                   2              2               2        2              2
5                   2              2               2        2              2
8                   1              2               2        1              2
9                   2              2               2        2              2
11                  2              2               2        2              2
...               ...            ...             ...      ...            ...
1048553             1              2               2        2              2
1048554             2              2               2        1              2
1048567             2              2               2        1              2
1048569             2              2               2        2              2
1048571             1              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
2              2                     3    2
5              2                     3    2
8              2                     3    2
9              2                     3    2
11             2                     3    2
...          ...                   ...  ...
1048553        2                     7    2
1048554        2                     7    2
1048567        2                     7    2
1048569        2                     7    2
1048571        2                     7    2

[192706 rows x 21 columns]

In [145]:
df.drop(df[df['PATIENT_TYPE'] >= 3].index, inplace = True)

In [146]:
df.drop(df[df['PNEUMONIA'] >= 3].index, inplace = True)

In [147]:
df.drop(df[df['PREGNANT'] >= 3].index, inplace = True)

In [148]:
df.drop(df[df['DIABETES'] >= 3].index, inplace = True)

In [149]:
df.drop(df[df['ASTHMA'] >= 3].index, inplace = True)

In [150]:
df.drop(df[df['INMSUPR'] >= 3].index, inplace = True)

In [151]:
df.drop(df[df['HIPERTENSION'] >= 3].index, inplace = True)

In [152]:
df.drop(df[df['OTHER_DISEASE'] >= 3].index, inplace = True)

In [153]:
df.drop(df[df['CARDIOVASCULAR'] >= 3].index, inplace = True)

In [154]:
df.drop(df[df['OBESITY'] >= 3].index, inplace = True)

In [155]:
df.drop(df[df['RENAL_CHRONIC'] >= 3].index, inplace = True)

In [156]:
df.drop(df[df['TOBACCO'] >= 3].index, inplace = True)

In [157]:
df.drop(df[df['ICU'] >= 3].index, inplace = True)

In [158]:
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
5            2             1    1             2          1        2
8            2             1    1             2          1        2
9            2             1    1             2          1        2
16           2             1    1             2          1        2
56           2             1    1             2          1        1
...        ...           ...  ...           ...        ...      ...
1048535      1            13    1             2          1        2
1048553      2            13    1             2          1        2
1048554      2            13    1             2          1        2
1048567      1            13    1             2          1        2
1048569      1            13    1             2          1        2

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
5                1   40         2         2  ...       2        2
8                2   37         2         1  ...       2        2
9                2   25         2         2  ...       2        2
16               1   80         2         2  ...       2        2
56               1   58         2         2  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048535          2   79         2         2  ...       2        2
1048553          1   61         2         1  ...       2        2
1048554          1   63         2         2  ...       1        2
1048567          2   23         2         1  ...       2        2
1048569          2   56         2         1  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
5                   2              2               2        2              2
8                   1              2               2        1              2
9                   2              2               2        2              2
16                  1              2               2        2              2
56                  1              2               1        1              2
...               ...            ...             ...      ...            ...
1048535             1              2               2        2              2
1048553             1              2               2        2              2
1048554             2              2               2        1              2
1048567             2              2               2        1              2
1048569             2              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
5              2                     3    2
8              2                     3    2
9              2                     3    2
16             2                     3    1
56             2                     7    1
...          ...                   ...  ...
1048535        2                     7    2
1048553        2                     7    2
1048554        2                     7    2
1048567        2                     7    2
1048569        2                     7    2

[76841 rows x 21 columns]

In [159]:
df.dropna(inplace=True)
print(df)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
5            2             1    1             2          1        2
8            2             1    1             2          1        2
9            2             1    1             2          1        2
16           2             1    1             2          1        2
56           2             1    1             2          1        1
...        ...           ...  ...           ...        ...      ...
1048535      1            13    1             2          1        2
1048553      2            13    1             2          1        2
1048554      2            13    1             2          1        2
1048567      1            13    1             2          1        2
1048569      1            13    1             2          1        2

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
5                1   40         2         2  ...       2        2
8                2   37         2         1  ...       2        2
9                2   25         2         2  ...       2        2
16               1   80         2         2  ...       2        2
56               1   58         2         2  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048535          2   79         2         2  ...       2        2
1048553          1   61         2         1  ...       2        2
1048554          1   63         2         2  ...       1        2
1048567          2   23         2         1  ...       2        2
1048569          2   56         2         1  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
5                   2              2               2        2              2
8                   1              2               2        1              2
9                   2              2               2        2              2
16                  1              2               2        2              2
56                  1              2               1        1              2
...               ...            ...             ...      ...            ...
1048535             1              2               2        2              2
1048553             1              2               2        2              2
1048554             2              2               2        1              2
1048567             2              2               2        1              2
1048569             2              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
5              2                     3    2
8              2                     3    2
9              2                     3    2
16             2                     3    1
56             2                     7    1
...          ...                   ...  ...
1048535        2                     7    2
1048553        2                     7    2
1048554        2                     7    2
1048567        2                     7    2
1048569        2                     7    2

[76841 rows x 21 columns]

In [162]:
dfN=pd.concat([df.loc[:,["USMER","MEDICAL_UNIT","SEX","PATIENT_TYPE","DATE_DIED","INTUBED","PNEUMONIA","AGE","PREGNANT","DIABETES","COPD","ASTHMA","INMSUPR","HIPERTENSION","OTHER_DISEASE","CARDIOVASCULAR","OBESITY","RENAL_CHRONIC","TOBACCO","CLASIFFICATION_FINAL","ICU"]]],axis=1)
print(dfN)

         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
5            2             1    1             2          1        2
8            2             1    1             2          1        2
9            2             1    1             2          1        2
16           2             1    1             2          1        2
56           2             1    1             2          1        1
...        ...           ...  ...           ...        ...      ...
1048535      1            13    1             2          1        2
1048553      2            13    1             2          1        2
1048554      2            13    1             2          1        2
1048567      1            13    1             2          1        2
1048569      1            13    1             2          1        2

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
5                1   40         2         2  ...       2        2
8                2   37         2         1  ...       2        2
9                2   25         2         2  ...       2        2
16               1   80         2         2  ...       2        2
56               1   58         2         2  ...       2        2
...            ...  ...       ...       ...  ...     ...      ...
1048535          2   79         2         2  ...       2        2
1048553          1   61         2         1  ...       2        2
1048554          1   63         2         2  ...       1        2
1048567          2   23         2         1  ...       2        2
1048569          2   56         2         1  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
5                   2              2               2        2              2
8                   1              2               2        1              2
9                   2              2               2        2              2
16                  1              2               2        2              2
56                  1              2               1        1              2
...               ...            ...             ...      ...            ...
1048535             1              2               2        2              2
1048553             1              2               2        2              2
1048554             2              2               2        1              2
1048567             2              2               2        1              2
1048569             2              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
5              2                     3    2
8              2                     3    2
9              2                     3    2
16             2                     3    1
56             2                     7    1
...          ...                   ...  ...
1048535        2                     7    2
1048553        2                     7    2
1048554        2                     7    2
1048567        2                     7    2
1048569        2                     7    2

[76841 rows x 21 columns]

In [163]:
dfN.to_csv("covid_data.csv",sep=";")

---

In [167]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression



print(dfN.head())
print(dfN.tail())

    USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  PNEUMONIA  \
5       2             1    1             2          1        2          1
8       2             1    1             2          1        2          2
9       2             1    1             2          1        2          2
16      2             1    1             2          1        2          1
56      2             1    1             2          1        1          1

    AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  HIPERTENSION  \
5    40         2         2  ...       2        2             2
8    37         2         1  ...       2        2             1
9    25         2         2  ...       2        2             2
16   80         2         2  ...       2        2             1
56   58         2         2  ...       2        2             1

    OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  \
5               2               2        2              2        2
8               2               2        1              2        2
9               2               2        2              2        2
16              2               2        2              2        2
56              2               1        1              2        2

    CLASIFFICATION_FINAL  ICU
5                      3    2
8                      3    2
9                      3    2
16                     3    1
56                     7    1

[5 rows x 21 columns]
         USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
1048535      1            13    1             2          1        2
1048553      2            13    1             2          1        2
1048554      2            13    1             2          1        2
1048567      1            13    1             2          1        2
1048569      1            13    1             2          1        2

         PNEUMONIA  AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  \
1048535          2   79         2         2  ...       2        2
1048553          1   61         2         1  ...       2        2
1048554          1   63         2         2  ...       1        2
1048567          2   23         2         1  ...       2        2
1048569          2   56         2         1  ...       2        2

         HIPERTENSION  OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  \
1048535             1              2               2        2              2
1048553             1              2               2        2              2
1048554             2              2               2        1              2
1048567             2              2               2        1              2
1048569             2              2               2        2              2

         TOBACCO  CLASIFFICATION_FINAL  ICU
1048535        2                     7    2
1048553        2                     7    2
1048554        2                     7    2
1048567        2                     7    2
1048569        2                     7    2

[5 rows x 21 columns]

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression

In [64]:
dfN=pd.read_csv("covid_data.csv",sep=";")
print(dfN.head())
print(dfN.tail())

   Unnamed: 0  USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
0           5      2             1    1             2          1        2
1           8      2             1    1             2          1        2
2           9      2             1    1             2          1        2
3          16      2             1    1             2          1        2
4          56      2             1    1             2          1        1

   PNEUMONIA  AGE  PREGNANT  ...  ASTHMA  INMSUPR  HIPERTENSION  \
0          1   40         2  ...       2        2             2
1          2   37         2  ...       2        2             1
2          2   25         2  ...       2        2             2
3          1   80         2  ...       2        2             1
4          1   58         2  ...       2        2             1

   OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  \
0              2               2        2              2        2
1              2               2        1              2        2
2              2               2        2              2        2
3              2               2        2              2        2
4              2               1        1              2        2

   CLASIFFICATION_FINAL  ICU
0                     3    2
1                     3    2
2                     3    2
3                     3    1
4                     7    1

[5 rows x 22 columns]
       Unnamed: 0  USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  \
76836     1048535      1            13    1             2          1        2
76837     1048553      2            13    1             2          1        2
76838     1048554      2            13    1             2          1        2
76839     1048567      1            13    1             2          1        2
76840     1048569      1            13    1             2          1        2

       PNEUMONIA  AGE  PREGNANT  ...  ASTHMA  INMSUPR  HIPERTENSION  \
76836          2   79         2  ...       2        2             1
76837          1   61         2  ...       2        2             1
76838          1   63         2  ...       1        2             2
76839          2   23         2  ...       2        2             2
76840          2   56         2  ...       2        2             2

       OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  \
76836              2               2        2              2        2
76837              2               2        2              2        2
76838              2               2        1              2        2
76839              2               2        1              2        2
76840              2               2        2              2        2

       CLASIFFICATION_FINAL  ICU
76836                     7    2
76837                     7    2
76838                     7    2
76839                     7    2
76840                     7    2

[5 rows x 22 columns]

In [58]:
# x = dfN.drop("DATE_DIED", axis=1)
# y = dfN["DATE_DIED"]
#çalışmadı?

In [67]:
features = ['SEX', 'INTUBED', 'PNEUMONIA', 'AGE', 'PREGNANT', 'ASTHMA', 'INMSUPR', 'TOBACCO' , 'ICU']
arget = 'DATE_DIED'

print(len(features))

x = dfN[features].values
y = dfN[target].values

9

In [68]:
mlr=LinearRegression()
mlr.fit(x,y)

print(mlr.intercept_)
print(mlr.coef_)

1.7741357448227473
[ 0.         -0.50081256 -0.10051785  0.00584119  0.04670136  0.0407661
 -0.03172554  0.0331939   0.063565  ]

In [72]:
y_pred_mlr=mlr.predict([[110,22,44,5,6,88,11,20,70]])

In [73]:
print(y_pred_mlr)

[-5.00524777]

In [74]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

In [75]:
mlr_pred=mlr.predict(x)

print("r2",r2_score(y,mlr_pred))
print("mae",mean_absolute_error(y,mlr_pred))
print("mape",mean_absolute_percentage_error(y,mlr_pred))
print("mse",mean_squared_error(y,mlr_pred))
print("rmse",(mean_squared_error(y,mlr_pred)**0.5))

r2 0.26652021823755423
mae 0.3216256023039943
mape 0.24309383128216466
mse 0.1570336486168411
rmse 0.39627471357234123

In [76]:
from sklearn.tree import DecisionTreeRegressor

In [77]:
tree_reg=DecisionTreeRegressor()
tree_reg.fit(x,y)
tree_pred=tree_reg.predict(x)
print(r2_score(y,tree_pred))

0.3029977978425459

In [78]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=100,random_state=42)
rf.fit(x,y.ravel())

RandomForestRegressor(random_state=42)

In [80]:
rf_pred=rf.predict(x)
print(r2_score(y,rf_pred))

0.30125950319728634

In [82]:
mlr=LinearRegression()
mlr.fit(x,y)
mlr_pred=mlr.predict(x)

dt=DecisionTreeRegressor()
dt.fit(x,y)
dt_pred=dt.predict(x)

rf=RandomForestRegressor(n_estimators=100,random_state=42)
rf.fit(x,y.ravel())
rf_pred=rf.predict(x)

In [83]:
print("mlr",r2_score(y,mlr_pred),mean_absolute_error(y,mlr_pred))
print("dt",r2_score(y,dt_pred),mean_absolute_error(y,dt_pred))
print("rf",r2_score(y,rf_pred),mean_absolute_error(y,rf_pred))

mlr 0.26652021823755423 0.3216256023039943
dt 0.3029977978425459 0.29844803257087427
rf 0.30125950319728634 0.3002352457868053

In [84]:
print("mlr",r2_score(y,mlr_pred),mean_absolute_error(y,mlr_pred))
print("dt",r2_score(y,dt_pred),mean_absolute_error(y,dt_pred))
print("rf",r2_score(y,rf_pred),mean_absolute_error(y,rf_pred))

mlr 0.26652021823755423 0.3216256023039943
dt 0.3029977978425459 0.29844803257087427
rf 0.30125950319728634 0.3002352457868053

In [85]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)

In [86]:
mlr=LinearRegression()
mlr.fit(x_train,y_train)
mlr_pred=mlr.predict(x_test)

dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
dt_pred=dt.predict(x_test)

rf=RandomForestRegressor(n_estimators=100,random_state=42)
rf.fit(x_train,y_train.ravel())
rf_pred=rf.predict(x_test)

In [88]:
print("mlr",r2_score(y_test,mlr_pred),mean_absolute_error(y_test,mlr_pred))
print("dt",r2_score(y_test,dt_pred),mean_absolute_error(y_test,dt_pred))
print("rf",r2_score(y_test,rf_pred),mean_absolute_error(y_test,rf_pred))

mlr 0.2687168249705719 0.32233078728890124
dt 0.24895226508635215 0.3107745644337145
rf 0.25979294671856035 0.3107229272766707